.fluentui-plus-input-tag {
  .form-control-base();
  box-sizing: border-box;
  margin: 0;
  display: flex;
  width: 100%;
  min-width: 0;
  gap: @spacing-horizontal-xs;
  padding: @spacing-vertical-xs @spacing-horizontal-s;
  color: @color-neutral-foreground-1;
  font-size: @font-size-300;
  line-height: calc(@line-height-300 * @font-size-300);
  font-family: @font-family-base;
  list-style: none;

  &--disabled {
    .form-control-disabled();

    .fluentui-plus-input-tag__input {
      cursor: not-allowed;
      color: @color-neutral-foreground-disabled;
    }

    .fluentui-plus-tag {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: @spacing-horizontal-xs;
  }

  &__item {
    margin: @spacing-vertical-none @spacing-horizontal-xxs;
    max-width: 100%;
  }

  &__input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: @color-neutral-foreground-1;
    font-family: @font-family-base;
    font-size: @font-size-300;
    line-height: calc(@line-height-300 * @font-size-300);
    min-width: 50px;
    padding: @spacing-vertical-none;
    margin: @spacing-vertical-xxs @spacing-horizontal-xxs;

    &::placeholder {
      color: @color-neutral-foreground-4;
    }

    &:disabled {
      cursor: not-allowed;
      color: @color-neutral-foreground-disabled;
    }
  }
}
